body {
    background-image: url('BSIT.png');
    background-position: top;
    background-size: cover;
    font-family: 'Times New Roman';
    padding-top: 130px;
    background-attachment:fixed;
       
   }
   
   div {
    padding-top: 40px;
    border-radius: 10px;
    border: 1px solid rgb(71, 88, 43);
    background-color:rgb(92, 90, 90);
    padding: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,53%);
    width: 400px;
    height: 225px;
   }
   
   input[type=text], input[type=password] {
    background-color: rgba (221,221,221,0%);
    border: 0;
    border-bottom: 1px solid #585757;
    width: 180px;
    padding: 5px;
    font-size: 16px;
       
   }
   
   button {
    border-radius: 12px;
    border: 0;
    padding: 10px;
    font-size: 14px;
   }
   
   button:hover {
    background-color: #6699cc;
    color: white;
    border: 1px solid white;
   }
   
   p {
   color:white;
   }